body{
    margin: 0;
    padding: 0;
}

#video-grid{
    display: flex;
    justify-content: center;
    border-color: black;
}

video{
    height: 300px;
    width: 400px;
    object-fit: cover;
    border-color: black;
}

.main{
    height: 100vh;
    display: flex;
}

.main_left{
    flex: 0.8;
    display: flex;
    flex-direction: column;
}

.main_right{
    flex: 0.2;
    background-color: rgba(78, 68, 177, 0.788);
    border-left: 1px solid #3D3D42;
    display: flex;
    flex-direction: column;
}

.main_videos{
    flex-grow: 1;
    background-color: rgba(79, 61, 236, 0.616);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
}

.main_controls {
    background-color: rgba(8, 8, 8, 0.753);
    color: #d2d2d2;
    padding: 5px;
    display: flex;
    justify-content: center;
}


.main_controls__block{
    display:flex;
}

.main_controls__button{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 8px 10px ;
    min-width: 80px;
    cursor: pointer;
    font-size: 20px;
}

.main_controls__button:hover{
    background-color: rgba(79, 61, 236, 0.616);
    color: #d2d2d2;
    /* padding: 5px;
    display: flex; */
}

.main__header {
    padding-top: 5px;
    color: #F5F5F5;
    text-align: center;
}

.main__chat_window {
    flex-grow: 1;
    overflow-y: auto;
}

.messages{
    color: white;
    list-style: none;
}

.main__message_container {
    padding: 22px 12px;
    display: flex;
}

.main__message_container input {
    flex-grow: 1;
    background-color: transparent;
    border: none;
    color: #F5F5F5;
}

.leave_meeting{
    color: red;
}

.unmute, .stop {
    color: #CC3B33;
}

#chat_message{
    background-color: #3D3D42;
}